@{
    ViewData["Title"] = "Cliente - Novo";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <h2>Cliente - Novo</h2>

                <form action="/Cliente/Salvar" method="post">
                    <div class="form-group">
                        <label class="control-label">Nome</label>
                        <input class="form-control col-5" name="Nome" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control col-5" name="Email" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Data Nascimento</label>
                        <input class="form-control col-5" name="DataNascimento" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Observação</label>
                        <textarea class="form-control" name="Observacao"></textarea>
                    </div>

                    <a href="#" class="btn btn-default btn-lg">Cancelar</a>
                    <button type="submit" class="btn btn-primary btn-lg">Gravar</button>
                </form>
            </div>
        </div>
    </div>
</div>
